:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-color: #212121;
  --main-font-family: Roboto;
  --icons-main-color: #afb1b8;
  --transition-time-and-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* common */

body {
  font-size: 14px;
  color: var(--main-text-color);
  font-family: var(--main-font-family), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

/* header */

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header-logo {
  margin-right: 92px;
  color: var(--title-color);
}

.accent-logo {
  color: var(--accent-color);
}

.nav-list {
  margin-right: auto;
  display: flex;
}

.contact-list {
  margin-left: auto;
  display: flex;

  & .contact-link {
    align-items: center;
    transition: color var(--transition-time-and-function);
  }
}

.nav-list .list-item:not(:last-child),
.contact-list .list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link.current {
  position: relative;
  color: var(--accent-color);

  &::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.page-header .contact-link,
.nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.nav-link {
  color: var(--title-color);
  transition: color var(--transition-time-and-function);
}

/* section hero*/

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
}

.hero-title {
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* section advances */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advances-list {
  display: flex;
  flex-basis: calc((100% - 90px) / 4);
  column-gap: 30px;
}

.icon-thumb {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advances-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.advances-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section tasks */

.tasks-list {
  display: flex;
  flex-basis: calc((100% - 60px) / 3);
  column-gap: 30px;
  & > .list-item {
    position: relative;
  }
}

.thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.thumb-text {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
  color: #ffffff;
}

/* section team */
.section-team {
  background: #f5f4fa;
}

.team-list {
  display: flex;
  column-gap: 30px;
}

.team-list .list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-name {
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-color);
}

.member-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.11;
  letter-spacing: 0.03em;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #fff;
  transition: background-color var(--transition-time-and-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-icon {
  fill: var(--icons-main-color);
  transition: fill var(--transition-time-and-function);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

/* clients */

.clients-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition-time-and-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.icon-client {
  fill: var(--icons-main-color);
  transition: fill var(--transition-time-and-function);
}

.client-link:hover .icon-client,
.client-link:focus .icon-client {
  fill: var(--accent-color);
}
/* footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;

  & .container {
    display: flex;
    align-items: baseline;
  }
}
.footer-logo {
  display: block;
  margin-bottom: 28px;
  color: #ffffff;
}

.address-warapper {
  margin-right: 70px;
}

.address-list .list-item:not(:last-child) {
  margin-bottom: 12px;
}

.address-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.address-list .contact-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.link:hover,
.link:focus,
.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  transition: color var(--transition-time-and-function);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--transition-time-and-function);
}

.join {
  margin-right: 93px;
}

.join-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-family: var(--main-font-family);
  color: #ffffff;
}

.page-footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-time-and-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.subscribe-title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.input-container {
  display: flex;
}

.subscribe-field {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  background-color: #2f303a;
  margin-right: 12px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  cursor: pointer;

}

/* modal-window */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0, 0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 350ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #fff;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: border-color var(--transition-time-and-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);

    & > .close-icon {
      fill: var(--accent-color);
    }
  }
}

.close-icon {
  transition: fill var(--transition-time-and-function);
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.form-group {
  margin-top: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-top: 10px;
  color: #757575;
}

.checkbox-field {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.input-wrapper {
  position: relative;
  margin-top: 4px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 11px;
  transition: fill var(--transition-time-and-function);
}

.form-input {
  display: block;
  width: 100%;
  padding: 11px 42px;
  border: 1px solid #21212133;
  border-radius: 4px;
  transition: border-color var(--transition-time-and-function);

  &:focus {
    outline: none;
    border-color: var(--accent-color);

    & + .input-icon {
      fill: var(--accent-color);
    }
  }
}

.message {
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;

  &::placeholder {
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #75757580;
  }
}

.checkbox {
  appearance: none;
  position: absolute;

  &:focus + .custom-checkbox {
    box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.5);
  }

  &:checked + .custom-checkbox {
    border-color: var(--accent-color);
    background-color: var(--accent-color);

    & > .custom-check-icon {
      display: block;
    }
  }
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color var(--transition-time-and-function),
    background-color var(--transition-time-and-function);
}

.custom-check-icon {
  display: none;
  fill: #ffffff;
}

.conditions {
  color: var(--accent-color);
  text-decoration: underline;
}

.btn-submit {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

/* --- portfolio --- */

/* page-portfolio */

.portfolio-filter {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-filter .list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: var(--title-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button.current {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.122);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  & > .list-item {
    flex-basis: calc((100% - 60px) / 3);
    background-color: #fff;
  }
}

.product-link {
  display: block;
  transition: box-shadow var(--transition-time-and-function);
}

.product-link:hover,
.product-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.161),
    0px 4px 4px 0px rgba(0, 0, 0, 0.059), 0px 1px 1px 0px rgba(0, 0, 0, 0.122);

  & .overlay {
    transform: translateY(0);
  }
}

.img-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  background-color: rgba(33, 149, 243, 0.9);
  transform: translateY(100%);

  transition: transform var(--transition-time-and-function);
}

.product-description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.card-thumb {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.card-title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.card-category {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
