.advances-list {
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
    column-gap: 30px;
  }
  
  .icon-thumb {
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  
  .advances-title {
    margin-bottom: 10px;
    font-weight: var(--font-weight-bold);
    line-height: 1.72;
    letter-spacing: var(--main-letter-spacing);
    color: var(--title-color);
  }
  
  .advances-description {
    line-height: 1.71;
    letter-spacing: var(--main-letter-spacing);
  }