.clients-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition-time-and-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.icon-client {
  fill: var(--icons-main-color);
  transition: fill var(--transition-time-and-function);
}

.client-link:hover .icon-client,
.client-link:focus .icon-client {
  fill: var(--accent-color);
}
