.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;

}

.footer--container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 28px;
  color: var(--secondary-text-color);
}

.address {
  margin-right: 70px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  letter-spacing: var(--main-letter-spacing);
}


.address__link--coordinates {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.address__link--contact {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.14;
}

/*========= Social-media ==========*/

.join {
  margin-right: 93px;
}

.join__title {
  margin-bottom: 20px;
  line-height: 1.14;
  font-weight: var(--font-weight-bold);
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

.socials__link--join {
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

/*=========== Subscribe ==============*/

.subscribe__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 1.71;
  letter-spacing: var(--main-letter-spacing);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.subscribe__container {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  background-color: #2f303a;
  margin-right: 12px;
  color: var(--secondary-text-color);

  &::placeholder {
    font-size: var(--secondary-font-size);
    line-height: 1.25;
    letter-spacing: var(--main-letter-spacing);
  }
}

.subscribe__btn {
  @extend %btn-form;
  @extend %btn-color;
  width: 200px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--secondary-font-size);
  font-weight: var(--font-weight-bold);
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.subscribe__icon {
  margin-left: 10px;
  fill: #ffffff;
}
