.tasks-list {
    display: flex;
    flex-basis: calc((100% - 60px) / 3);
    column-gap: 30px;
    & > .list-item {
      position: relative;
    }
  }
  
  .thumb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
  }
  
  .thumb-text {
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--main-letter-spacing);
    line-height: 1.14;
    color: #ffffff;
  }