.filters__list {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filters__btn {
  @extend %btn-form;
  padding: 6px 22px;
  font-size: var(--secondary-font-size);
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: var(--main-letter-spacing);
  color: var(--title-color);
  background-color: #f5f4fa;
  
  &.current {
    @extend %btn-color;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.122);
  }
}
