.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: var(--font-weight-bold);
  line-height: var(--main-line-hight);
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
  color: var(--title-color);
}
