.socials__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  transition: background-color var(--transition-time-and-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.socials__icon {
  fill: var(--icons-main-color);
  transition: fill var(--transition-time-and-function);

  .socials__link:hover &,
  .socials__link:focus & {
    fill: #ffffff;
  }
}
